

<center>
  <div class ="card wrapper">
    <div class="card-header">
      <h2 class="card-title d-flex justify-content-between mb-2">
        <span>Get Weather By Enter City </span>
      </h2>
    </div>
    <%= form_with url: weathers_path, id: "weather-form", method: :post, local: true, remote: true do |f| %>
      <div class="card-body">
        <div class="field" style="width: 60%">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">    <%= f.label :city %></span>
            </div>
            <%= f.text_field :city, autofocus: true, class: 'form-control  mx-sm-3',id: "city-input", required: true %>
          </div>
        </div>

      </div>
      <div class ="card-footer">
        <div class="actions">
          <%= f.submit "Get Weather", class:"btn btn-success", id: "submit-button", style:"width: 40%" %>
          <br>
          <br>
        </div>
      </div>
      <div id="weather-info">
      </div>
    <%end %>

  </div>
</center>
